body {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main {
    flex: 1 1 auto;
    display: flex;
}

.input-panel {
    flex: 0 0 auto;
    margin: 0 5px 0 0;
    box-shadow: 3px 3px 5px gray;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

iframe {
    border: none;
    border-radius: 0 5px 5px 0;
}

.pdf-panel {
    flex: 1 1 auto;
    border-radius: 0 5px 5px 0;
}
